.card-container {
    width: 100%;
    max-width: 325px; 
    margin: 0 auto; 
    padding: 0;
    box-shadow: none; 
    border: none;
    border-radius: 7px;
    text-align: center;
    background-color: #ffd9f4;
    transition: transform 0.3s, box-shadow 0.3s; /* Transición para el efecto de zoom y sombra */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .card-container:hover {
    transform: scale(1.05); /* Hace un ligero zoom cuando se pasa el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra cuando se pasa el mouse */
  }
  .img-detail {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 7px  7px 0 0 ; 
  }
  
  .detail-name {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
  
    display: flex;
      justify-content:left; 
      margin-left: 5%;
    
 
  }
 
  
  .price-detail {
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: -220px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .price-detail:hover {
    transform: scale(1.05); /* Hace un ligero zoom cuando se pasa el mouse */
   
  }
  .detail-description {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 18px;
    margin-right: 10px;
    text-align: justify; 
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .detail-description:hover {
    transform: scale(1.05); /* Hace un ligero zoom cuando se pasa el mouse */
   
  }
  .time-description {
    font-size: 10px;
    color: #46434c; 
    border: 0px ; 
    background-color: #c9c9c9; 
    border-radius: 3px;
    padding: 0px; 
    width: 50%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: -10px;
    transition: transform 0.3s, box-shadow 0.3s;
  
 
  }
  .time-description:hover {
    transform: scale(1.03); 
   
  }
  @media(min-width:765px){
    .card-container {
      width: 100%;
      max-width: 450px; 
    }
    .price-detail {
      font-size: 12px;
      
      margin-left: -330px;
     
      
    }
    .detail-name{
      display: flex;
      justify-content:left; 
      margin-left: 5%;
      

    }
  }

  @media(min-width:1024px){
  
    .card-container {
      width: 100%;
      height: 350px;
      max-width: 1000px; 
      display: grid;
      grid-template-columns: auto 1fr; /* Primera columna con ancho automático (tamaño de contenido), segunda columna ocupa el resto del espacio */
      gap: 0px; /* Espacio entre los elementos */
    }
    .card-container:hover {
      transform: scale(1.01); /* Hace un ligero zoom cuando se pasa el mouse */
    
    }
    .img-detail {
      width: 100%;
      height: 350px;
      grid-column: 1;
      border-radius: 7px 0 0 7px ; 
    }
    .detail-name{
      margin-top: 50px;
      margin-right: 350px;
      font-size: 25px;
    }
    .price-detail{
     margin-top: -250px;
     

      font-size: 15px;
      display: flex;
      justify-content:left; 
      margin-left: 5%;
      
    }
    .detail-description{
      margin-top: -200px;
      font-size: 20px;
      display: flex;
      justify-content:left; 
      margin-left: 5%;
    
    }
    .time-description{
      position: relative;
      top: -22px;
      font-size: 15px;
      width: 50%; 
    margin: 0 0 0 0; 
    margin-right: 80px;
    margin-top: auto;
    
    }
    .time-description:hover {
      transform: none; 
     
    }

    .detail-name,
.price-detail,
.detail-description,
.time-description {
  grid-column: 2; 
}


  }
  